body{
    background-image: 
    url(../pics/bgg.jpg);
    background-position: center;
    background-size: 50%;
    /* background-repeat: no-repeat; */
    text-align: center;
}
#root{
    width: 70%;
    height: 80vh;
    padding: 1px;
    word-wrap: break-word;
    margin-left: 15%;
    overflow-y: scroll;
}
.box{
    width: 98%;
    background: rgba(153, 152, 152, 0.9);
    margin-bottom: 1px;
    margin-left: 1%;
    padding-top:10px;
    padding-bottom:10px;
}

h3{
    font-size:80px;
    color: wheat;
    margin:10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  :link{
    color:white;
    font-size: 20px;

  }
  a:visited{
    color:wheat;
  }
  a:hover{
    color:orange;
  }
